.rodapie__descripcion{
   display: flex;
   font-size: 2rem; 
   margin-left: 5rem;
   color: #8c8888;
}


@media screen and (min-width: 0) {
   .rodapie__descripcion{
       flex-direction: column;
       margin-left: 6rem;
       margin-right: 5rem;
   }
   
}