.receta__boton{
    background-color:  #DA2B1F;
    color: #ffffff;
    border-color: #ffffff;
    padding: 1rem; 
    border-radius: 5px;
}

.receta__boton:hover{
    cursor: pointer;
    background: #9f1010;
    transition: all .1s ease-in-out;
}